<!--create a navigation bar-->
	   <nav id = "blue" class="navbar navbar-default">
  		  <!--brand name-->
    		<div class="navbar-header">
      			<p class = "pretty">Your News Updater</p>
    		</div>

    		<!--buttons-->
			<ul>
				<li><a href="http://localhost:3000/"><img src = "assets/images/home.png"></a></li>

      			<li>
      				<form action = "/saved" method = "GET">
      					<button class = "btn-lg" type = "submit">Saved Articles</button>
      				</form>
      			</li>
      			<li>
      				<form action = "/all" method = "POST">
      					<button class = "btn-lg" type = "submit">Scrape New Articles</button>
      				</form>
      			</li>
    		</ul>
		</nav>

		<!--body-->
		<div id = "bg" class = "container">
			<div class = "head" style = "text-align: center">
				<h1 id = "headFont">Surfer News Scraper</h1>
				<h4 class = "subFont">Surfer.com</h4>
			</div>


		<!--articles-->
		<ul id = "articles">
			<!--upon home page load/check to see if there are articles-->
			{{^hasArticles}}
				<h1>{{errorMessage}}</h1>

			<!--if there are articles, render them here-->
			{{/hasArticles}}
			{{#each article count=20}}
				<li id = "articlePanel">				
					<div class = "panel panel-default">
						<div class = "panel-heading">
						   	 	<h1>
						      		{{this.heading}}
						      	</h1>
					      		
						        	<button class = "save" value = "{{this._id}}" type="submit">Save Article</button>
						      	
						     	
					     <div class = "panel-body">
					     	<a href = "{{this.url}}"><p>{{this.summary}}</p></a>
					     </div>
					</div><!--closes panel-->
				</li>
		  {{/each}}
		</ul>

	</div><!--closes container-->	

	<script type="text/javascript">
    // collect article info when save button is clicked
    $(document).on("click", ".save", function() {
      event.preventDefault();
      var saveID = $(this).attr("value");
      //call our router to update article to saved
      $.ajax({
      	method: "POST",
      	url: "/save/" + saveID
      })
      .done(function(data) {
        alert("Saved the article...");
      });
    });
  </script>